@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #302c42;
  --foreground: #171717;
  --accent: #8176af;
  --accent-foreground: #c0b7e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #302c42;
    --foreground: #ededed;
    --accent: #8176af;
    --accent-foreground: #c0b7e8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
